.container
  .row
    .col--lg-12

      h2 Chart Sample

      div(
        chart-sample = ""
        chart-sample-width = "600"
        chart-sample-height = "230"
        chart-sample-pie-hole = "0.3"
      )